@model IEnumerable<BlockViewModel>
<head>

</head>
<main class="mainBg">
    <div class="contentBlocks">
        @foreach (var item in Model)
        {
            <div class="table-responsive">
                <table class="table table-dark">
                    <tbody>
                        <tr><td width="30%">Block Id</td><td class="tabelCellWidth">@item.BlockId</td></tr>
                        <tr><td width="30%">BlockIndex</td><td class="tabelCellWidth">@item.BlockIndex</td></tr>
                        <tr><td width="30%">PublicKey</td><td class="tabelCellWidth">@item.PublicKey</td></tr>
                        <tr><td width="30%">Timestamp</td><td class="tabelCellWidth">@item.TimeStamp</td></tr>
                        <tr><td width="30%">Hash</td><td class="tabelCellWidth">@item.PreviousHash</td></tr>
                        <tr><td width="30%">PreviousHash</td><td class="tabelCellWidth">@item.Hash</td></tr>
                        <tr><td width="30%">Signature</td><td class="tabelCellWidth">@item.StateRootHash</td></tr>
                        <tr><td width="30%">State Root Hash</td><td class="tabelCellWidth">@item.Signature</td></tr>
                        <tr><td width="30%">Transaction Processed</td><td class="tabelCellWidth">1</td></tr>

                    </tbody>
                </table>

            </div>
        }

    </div>
</main>