@model IEnumerable<TransactionViewModel>
<head>

</head>
<main class="mainBg">
    <div class="contentBlocks">
        @foreach (var item in Model)
        {
            <div class="table-responsive">
                <table class="table table-dark">
                    <tbody>
                        <tr><td>Transaction Id</td><td class="tabelCellWidth">@item.TransactionId</td></tr>
                        <tr><td>FromAddress</td><td class="tabelCellWidth">@item.FromAddress</td></tr>
                        <tr><td>ToAddress</td><td class="tabelCellWidth">@item.ToAddress</td></tr>
                        <tr><td>Vote</td><td class="tabelCellWidth">@item.Vote</td></tr>
                        <tr><td>Signature</td><td class="tabelCellWidth">@item.Signature</td></tr>
                        <tr><td>Timestamp</td><td class="tabelCellWidth">@item.Timestamp</td></tr>
                        <tr><td>HashedData</td><td class="tabelCellWidth">@item.HashedData</td></tr>
                        <tr><td>Type</td><td class="tabelCellWidth">@item.Type</td></tr>
                        <tr><td>Details</td><td class="tabelCellWidth">@item.Details</td></tr>
                        <tr><td>Block Id</td><td class="tabelCellWidth">@item.BlockId</td></tr>

                    </tbody>
                </table>

            </div>
        }

    </div>
</main>